<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Moowesome</title>
        <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav id="mainNav">
        <div id = "span"></div>
            <a href="#page-one"><img src="./static/img/buttons/profile.png"></a>
            <a href="#page-two"><img src="./static/img/buttons/dance.png"></a>
            <a href="#page-three"><img src="./static/img/buttons/music.png"></a>
            <a href="#page-four"><img src="./static/img/buttons/hart.png"></a>
    </nav>

    <div class = "panel" id="page-one">
        <h1>HEY! It's Moo</h1>
        <div>
            <img src="./static/img/me.png">
        </div>
        <h2>Monique Meguillo<br>BS Computer Science<br>University of the Philippines Cebu</h2>
        <h3>@muwnic @moonikwe <br> mmmeguillo@up.edu.ph</h3>
    </div>

    <div id="page-two">
        <div id="danceT">
            <p>DANCE is an art that makes the music visible and the unspoken heard</p>
        </div>
        <input type="image" title="Vinh Nguyen" src="./static/img/dance/vinh.png" id="vinh"/>
        <div class="dance" id="vinh-info">
        <div>
            <h1>{{artist1}}</h1>
            <p>{{cont1}}</p>
        </div>
        </div>

        <input type="image" title="Chachi Gonzales" src="./static/img/dance/chachi.png" id="chachi"/>
        <div class="dance" id="chachi-info">
        <div>
            <h1>{{artist2}}</h1>
            <p>{{cont2}}</p>
        </div>
        </div>

        <input type="image" title="Pat Cruz" src="./static/img/dance/pat.png" id="pat"/>
        <div class="dance" id="pat-info">
        <div>
            <h1>{{artist3}}</h1>
            <p>{{cont3}}</p>
        </div>
        </div>

        <input type="image" title="Jawn Ha" src="./static/img/dance/jawn.png" id="jawn"/>
        <div class="dance" id="jawn-info">
        <div>
            <h1>{{artist4}}</h1>
            <p>{{cont4}}</p>
        </div>
        </div>

        <input type="image" title="Keone and Mari" src="./static/img/dance/k-mari.png" id="k-mari"/>
        <div class="dance" id="k-mari-info">
        <div>
            <h1>{{artist5}}</h1>
            <p>{{cont5}}</p>
        </div>
        </div>

        <input type="image" title="Anthony Lee" src="./static/img/dance/lee.png" id="lee"/>
        <div class="dance" id="lee-info">
        <div>
            <h1>{{artist6}}</h1>
            <p>{{cont6}}</p>
        </div>
        </div>

        <input type="image" title="Koharu Sugawara" src="./static/img/dance/koha.png" id="koha"/>
        <div class="dance" id="koha-info">
        <div>
            <h1>{{artist7}}</h1>
            <p>{{cont7}}</p>
        </div>
        </div>
    </div>

    <div id="page-three">
        <div id="musicT">
            <p>MUSIC is the language of the skilled and unable</p>
        </div>
        <input type="image" title="Jason Chen" src="./static/img/music/jason.png" id="jason"/>
        <div class="music" id="jason-info">
        <div>
            <h1>{{artist8}}</h1>
            <p>{{cont8}}</p>
        </div>
        </div>

        <input type="image" title="Kina Grannis" src="./static/img/music/kina.png" id="kina"/>
        <div class="music" id="kina-info">
        <div>
            <h1>{{artist9}}</h1>
            <p>{{cont9}}</p>
        </div>
        </div>

        <input type="image" title="Joseph Vincent" src="./static/img/music/joseph.png" id="joseph"/>
        <div class="music" id="joseph-info">
        <div>
            <h1>{{artist10}}</h1>
            <p>{{cont10}}</p>
        </div>
        </div>

        <input type="image" title="us the duo" src="./static/img/music/us.png" id="us"/>
        <div class="music" id="us-info">
        <div>
            <h1>{{artist11}}</h1>
            <p>{{cont11}}</p>
        </div>
        </div>
         
    </div>
    <div id="page-four">
        <p>other things that make me happy ^-^</p>

        <input type="image" src="./static/img/extras/adv.png" id="adv"/>
        <div class="extra" id="adv-info">
        <div>
            <h1>{{artist12}}</h1>
            <p>{{cont12}}</p>
        </div>
        </div>
        <input type="image" src="./static/img/extras/art.png" id="art"/>
        <div class="extra" id="art-info">
        <div>
            <h1>{{artist13}}</h1>
            <p>{{cont13}}</p>
        </div>
        </div>

        <input type="image" src="./static/img/extras/cute.png" id="cute"/>
        <div class="extra" id="cute-info">
        <div>
            <h1>{{artist14}}</h1>
            <p>{{cont14}}</p>
        </div>
        </div>

        <input type="image" src="./static/img/extras/food.png" id="food"/>
        <div class="extra" id="food-info">
        <div>
            <h1>{{artist15}}</h1>
            <p>{{cont15}}</p>
        </div>
        </div>

        <input type="image" src="./static/img/extras/pup.png" id="pup"/>
        <div class="extra" id="pup-info">
        <div>
            <h1>{{artist16}}</h1>
            <p>{{cont16}}</p>
        </div>
        </div>

        <input type="image" src="./static/img/extras/poetry.png" id="poetry"/>
        <div class="extra" id="poetry-info">
        <div>
            <h1>{{artist17}}</h1>
            <p>{{cont17}}</p>
        </div>
        </div>

        <input type="image" src="./static/img/extras/stitch.png" id="stitch"/>
        <div class="extra" id="stitch-info">
        <div>
            <h1>{{artist18}}</h1>
            <p>{{cont18}}</p>
        </div>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="static/script.js"></script>

</body>
</html>
